<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Trabajos de Laboratorio de Computación II</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="data.js"></script>
</head>
<body>

<header>
    <h1> Proyectos </h1>
</header>

<!-- TODO: Agregar filtros con vue-->
<div id="app" class="container-fluid">
    <div class="row">
        <div v-for="proyecto in proyectos" class="col-sm-6 col-md-4 d-flex">
            <div class="card flex-fill mb-3">
                <div class="card-header">
                    <h4>{{ proyecto.tema }}</h4>
                    <a class="badge" :href="'http://www.github.com/ucc-labcompu2-historico/' + proyecto.url"><span class="fa fa-github"></span>Repo</a>
                    <span class="float-right badge badge-secondary"><b>Año </b>{{ proyecto.anio }}</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Alumnos:</b>
                            <ul>
                                <li v-for="autor in proyecto.autores">{{ autor }}</li>
                            </ul>

                        </div>
                        <div class="col-lg-6">
                            <a :href="'http://ucc-labcompu2-historico.github.io/' + proyecto.url">
                                <img :src="'http://api.miniature.io/?screen=1024&url=http://ucc-labcompu2-historico.github.io/' + proyecto.url "
                                     alt="" class="img-fluid img-thumbnail">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            proyectos: datos
        }
    })
</script>
</body>
</html>
